In [0]:
# Create simple DataFrame
data = [("iPhone", 999), ("Samsung", 799), ("MacBook", 1299)]
df = spark.createDataFrame(data, ["product", "price"])
df.show()

# Filter expensive products
df.filter(df.price > 1000).show()

+-------+-----+
|product|price|
+-------+-----+
| iPhone|  999|
|Samsung|  799|
|MacBook| 1299|
+-------+-----+

+-------+-----+
|product|price|
+-------+-----+
|MacBook| 1299|
+-------+-----+

In [0]:
# Create simple DataFrame
data = [
    ("Megha", "Tech", 45000),
    ("Pratik", "HR", 35000),
    ("Shriya", "Tech", 55000),
    ("Priya", "Sales", 40000)
]

df = spark.createDataFrame(data, ["name", "department", "salary"])

# Show DataFrame
df.show()

+------+----------+------+
|  name|department|salary|
+------+----------+------+
| Megha|      Tech| 45000|
|Pratik|        HR| 35000|
|Shriya|      Tech| 55000|
| Priya|     Sales| 40000|
+------+----------+------+

In [0]:
df.filter(df.salary > 40000).show()

+------+----------+------+
|  name|department|salary|
+------+----------+------+
| Megha|      Tech| 45000|
|Shriya|      Tech| 55000|
+------+----------+------+

In [0]:
df.select("name", "salary").show()

+------+------+
|  name|salary|
+------+------+
| Megha| 45000|
|Pratik| 35000|
|Shriya| 55000|
| Priya| 40000|
+------+------+